$primary-color: #1976d2; // Couleur primaire moderne
$accent-color: #e91e63; // Couleur d'accentuation moderne
$background-color: #303030; // Couleur de fond pour le thème sombre
$card-background-color: #424242; // Couleur de fond pour la carte dans le thème sombre
$text-color: #ffffff; // Couleur de texte claire pour le thème sombre

.discussions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  background-color: $background-color;
  color: $text-color;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 70px;
}

.discussions-card {
  max-width: 600px;
  width: 100%;
  background-color: $card-background-color;
  color: $text-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: $text-color;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.header-avatar {
  background-image: url(/assets/messaging.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 16px;
  color: lighten($text-color, 20%);
}

.message-list {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: lighten($card-background-color, 5%);
  padding: 10px;
  border-radius: 5px;
}

.message {
  background-color: darken($card-background-color, 5%);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.timestamp {
  display: block;
  font-size: 12px;
  color: #bbb;
  text-align: right;
}

.message-form {
  display: flex;
  gap: 10px;
  align-items: center;

  mat-form-field {
    flex: 1;
  }
}
