<div class="home-container">
    <mat-card class="welcome-card">
        <mat-card-header>
            <mat-card-title>Bienvenue sur MNS Connect</mat-card-title>
            <mat-card-subtitle>Votre plateforme de messagerie sécurisée et fiable</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/messaging.jpg" alt="Image de messagerie">
        <mat-card-content>
            <p>
                Connectez-vous pour commencer à échanger des messages avec vos amis et collègues.
                Profitez d'une plateforme sécurisée et fiable pour toutes vos communications.
            </p>
        </mat-card-content>
        <mat-card-actions align="end" class="button-container">
            <button mat-raised-button color="primary" routerLink="/connexion">Se connecter</button>
        </mat-card-actions>
    </mat-card>
</div>