.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  background-color: #303030;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 70px;
}

.register-card {
  max-width: 400px;
  width: 100%;
  background-color: #424242;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-card mat-card-header {
  padding-bottom: 20px;
}

.register-card mat-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.register-card mat-card-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.register-card mat-form-field {
  width: 100%;
}

.register-card mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
